* {
  padding: 0;
  margin: 0;
} 

.powerPlant {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 100px;
  box-sizing: border-box;

  background-color: #BFD7EA;
  width: 100%;
  height: calc(100vh - 54px);
}

canvas {
  width: 100%;
}

.reactorsDisplay {
  background-color: #D9D9D9;
  width: 475px;
  height: calc(100vh - 54px);
}

.plantName {
  display: flex;
  justify-content: right;
  gap: 30px;
}

.graphAllReactors {
  background-color: #D9D9D9;
  width: 100%;
  height: 300px;
}

.totalOutput {
  display: flex;
  justify-content: space-between;
}

.systemLogs {
  background-color: #0B3954;
  width: 100%;
  height: 200px;
}

/* Footer */
Button {
  height: 40px;
}
footer {
  display: flex;
}
.dashboardFooter {
  display: flex;
  justify-content: right;
  gap: 30px;
  padding-right: 100px;
  padding-left: 100px;
  box-sizing: border-box;

  background-color: #3D3D3D;
  width: 100%;
  height: 54px;
}

.dashboardFooter Button {
  position: relative;
  top: -20px;
}

.reactorsFooter {
  display: flex;
  justify-content: center;

  background-color: #696969;
  width: 475px;
  height: 54px;
}

.reactorsFooter Button {
  position: relative;
  top: -20px;
}